@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


/* Font Theme */
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
    font-family: 'monash';
    src: url('/fonts/HelveticaNeueBold.otf') format('opentype');
}

/* === Global Styling === */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-sans);
    background: rgb(227, 232, 248);
}

/* === Background Particle Layer === */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0;
    top: 0;
}

/* === Chat Container === */
.chat-container {
    background: url('../../public/images/bg-chat-04.png') center center no-repeat;
    background-size: cover;
    position: relative;
    /* width: 100%; */
    height: 100%;
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin: auto; */
    overflow: hidden;
}

/* === Chat Body (bubble area) === */
.chat-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 180px;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    text-align: center !important;
    height: 400px !important;
    position: relative !important;
    gap: 10px;
}


.animate-slide-right {
    animation: slide-right 2s forwards;
}

.bubble {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #bdd2fc6c;
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 14px;
    color: black;
    line-height: 1.4;
    max-width: 130px;
    word-wrap: break-word;
    white-space: normal;
    border: 1px solid white;
    height: 100%;
    width: 100%;
    text-transform: capitalize;
}

.bubble strong {
    margin-bottom: 10px !important;
    text-align: left !important;
}

.bubble .bubble-text {
    display: -webkit-box !important;
    text-align: left;
}

.bubble-text {
    display: -webkit-box !important;
    -webkit-line-clamp: 5 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: center !important;
    width: 100%;
    margin-top: 10px;
    /* penting agar clamp bekerja */
}

.font-default {
    font-family: 'monash' !important;
}

#profile-full-image {
    height: 400px !important;
}

#modal-box {
    top: 150px !important;
}
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}